In [101]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import signal
%matplotlib inline

#### Import the open/close time data.

In [102]:
df = pd.read_csv(filepath_or_buffer = 'data/cham_3_close_times.csv', index_col = False)
print df.head()

   year  month  day  hour  min  sec  close_hour  cmin  csec  open_hour  omin  \
0  2014      7   21    13   31   55          13    53    41         13    53
1  2014      7   21    14   34   37          14    56    26         14    55
2  2014      7   21    15   37   21          15    59     8         15    58
3  2014      7   21    16   40    3          17     1    49         17     1
4  2014      7   21    17   42   43          18     4    29         18     3

   osec  camb  close_month  close_day
0    10     1            7         21
1    56     1            7         21
2    38     1            7         21
3    19     1            7         21
4    58     1            7         21

In [103]:
df['sec'] = df['sec'].map(lambda x: 0 if x == 60 else x)
def f(x): return round(x)
df['sec'] = map(f, df['sec'])
df['closing'] = pd.to_datetime(df.year.astype(str) + '-' + df.month.astype(str) + '-' + df.day.astype(str) + ' ' + df.open_hour.astype(str) + ':' + df['omin'].astype(str) + ':' + df.osec.astype(str))
df['closed'] = pd.to_datetime(df.year.astype(str) + '-' + df.month.astype(str) + '-' + df.day.astype(str) + ' ' + df.close_hour.astype(str) + ':' + df['cmin'].astype(str) + ':' + df.csec.astype(str))
df['end_of_run'] = pd.to_datetime(df.year.astype(str) + '-' + df.month.astype(str) + '-' + df.day.astype(str) + ' ' + df.hour.astype(str) + ':' + df['min'].astype(str) + ':' + df.sec.astype(str))
df = df.set_index(pd.DatetimeIndex(df['end_of_run']))

In [104]:
df.head()

,year,month,day,hour,min,sec,close_hour,cmin,csec,open_hour,omin,osec,camb,close_month,close_day,closing,closed,end_of_run
2014-07-21 13:31:55,2014,7,21,13,31,55,13,53,41,13,53,10,1,7,21,2014-07-21 13:53:10,2014-07-21 13:53:41,2014-07-21 13:31:55
2014-07-21 14:34:37,2014,7,21,14,34,37,14,56,26,14,55,56,1,7,21,2014-07-21 14:55:56,2014-07-21 14:56:26,2014-07-21 14:34:37
2014-07-21 15:37:21,2014,7,21,15,37,21,15,59,8,15,58,38,1,7,21,2014-07-21 15:58:38,2014-07-21 15:59:08,2014-07-21 15:37:21
2014-07-21 16:40:03,2014,7,21,16,40,3,17,1,49,17,1,19,1,7,21,2014-07-21 17:01:19,2014-07-21 17:01:49,2014-07-21 16:40:03
2014-07-21 17:42:43,2014,7,21,17,42,43,18,4,29,18,3,58,1,7,21,2014-07-21 18:03:58,2014-07-21 18:04:29,2014-07-21 17:42:43

#### Import the pod data.

In [105]:
df_R = pd.read_csv(filepath_or_buffer = 'data/cham3_coll_feat.csv', parse_dates = [0], index_col = 0)
df_R.head()

,e2v03,no2,Temp,Rh,ln_O3,ln_temp,ln_rh,e2v03_int_lag_1,e2v03_int_lag_3,e2v03_int_lag_5,...,Temp_sq,Temp_interact_ln_temp,Temp_interact_Rh,Temp_interact_ln_rh,ln_temp_sq,ln_temp_interact_Rh,ln_temp_interact_ln_rh,Rh_sq,Rh_interact_ln_rh,ln_rh_sq
date,,,,,,,,,,,,,,,,,,,,,
2014-07-17 17:56:40,608,871,36.2,23.4,6.410175,3.589059,3.152736,0,1218.0,2434.5,...,1310.44,129.923940,847.08,114.129044,12.881345,83.983983,11.315356,547.56,73.774023,9.939744
2014-07-17 17:56:45,609,870,36.2,23.3,6.411818,3.589059,3.148453,0,1217.5,2435.0,...,1310.44,129.923940,843.46,113.974012,12.881345,83.625077,11.299985,542.89,73.358963,9.912759
2014-07-17 17:56:50,609,870,36.2,23.3,6.411818,3.589059,3.148453,0,1217.0,2435.0,...,1310.44,129.923940,843.46,113.974012,12.881345,83.625077,11.299985,542.89,73.358963,9.912759
2014-07-17 17:56:55,608,869,36.3,23.3,6.410175,3.591818,3.148453,0,1217.5,2435.0,...,1317.69,130.382984,845.79,114.288857,12.901155,83.689353,11.308671,542.89,73.358963,9.912759
2014-07-17 17:57:00,609,868,36.2,23.2,6.411818,3.589059,3.144152,0,1217.5,2434.5,...,1310.44,129.923940,839.84,113.818312,12.881345,83.266172,11.284548,538.24,72.944333,9.885694

In [82]:
df['start'] = df.closing - pd.Timedelta(minutes=10)
df['stop'] = df.closed + pd.Timedelta(minutes=10)

#### Use this code to get closed data points

In [84]:
# df_new = pd.DataFrame({'o3_ppb':[]})
# date_list = []
# o3_list = []
# for row_index, row in df.iterrows():
#     for row_index_ref, row_ref in df_R.iterrows():
#         if row_index_ref >= (row.closed + pd.Timedelta(minutes=4)) and row_index_ref <= (row.closed + pd.Timedelta(minutes=7)):
#             date_list.append(row_index_ref)
#             o3_list.append(int(row_ref.e2v03))

#### Use this for open data points

In [ ]:
df_new = pd.DataFrame({'o3_ppb':[]})
date_list = []
o3_list = []
for row_index, row in df.iterrows():
    for row_index_ref, row_ref in df_R.iterrows():
        if row_index_ref >= (row.closed + pd.Timedelta(minutes=4)) and row_index_ref <= (row.closed + pd.Timedelta(minutes=7)):
            date_list.append(row_index_ref)
            o3_list.append(int(row_ref.e2v03))

In [87]:
df_new.o3_ppb = o3_list
df_new['date'] = date_list

In [88]:
df_new.head()

   o3_ppb                date
0     674 2014-07-21 15:00:27
1     674 2014-07-21 15:00:32
2     675 2014-07-21 15:00:37
3     675 2014-07-21 15:00:41
4     675 2014-07-21 15:00:46

In [89]:
df_R['date'] = df_R.index

In [93]:
df_final = pd.merge(df_new, df_R, how='inner', on='date')

In [97]:
df_final.head()

,date,e2v03,no2,Temp,Rh,ln_O3,ln_temp,ln_rh,e2v03_int_lag_1,e2v03_int_lag_3,...,Temp_sq,Temp_interact_ln_temp,Temp_interact_Rh,Temp_interact_ln_rh,ln_temp_sq,ln_temp_interact_Rh,ln_temp_interact_ln_rh,Rh_sq,Rh_interact_ln_rh,ln_rh_sq
0,2014-07-21 15:00:27,674,852,50,14.0,6.513230,3.912023,2.639057,0,1348.0,...,2500,195.60115,700,131.952866,15.303924,54.768322,10.324053,196.00,36.946803,6.964624
1,2014-07-21 15:00:32,674,853,50,14.0,6.513230,3.912023,2.639057,0,1348.0,...,2500,195.60115,700,131.952866,15.303924,54.768322,10.324053,196.00,36.946803,6.964624
2,2014-07-21 15:00:37,675,852,50,14.0,6.514713,3.912023,2.639057,0,1348.0,...,2500,195.60115,700,131.952866,15.303924,54.768322,10.324053,196.00,36.946803,6.964624
3,2014-07-21 15:00:41,675,852,50,13.9,6.514713,3.912023,2.631889,0,1348.5,...,2500,195.60115,695,131.594442,15.303924,54.377120,10.296010,193.21,36.583255,6.926839
4,2014-07-21 15:00:46,675,852,50,13.9,6.514713,3.912023,2.631889,0,1349.5,...,2500,195.60115,695,131.594442,15.303924,54.377120,10.296010,193.21,36.583255,6.926839

In [96]:
df_final.drop('o3_ppb', axis=1, inplace=True)

In [99]:
df_final.set_index('date', inplace=True)

In [100]:
df_final.to_csv(path_or_buf = 'data/cham_3_closed_only.csv')